.request-page {
  margin: 0 auto;
  padding: 5.875rem 0 6.375rem;
  max-width: 37.5rem;

  .form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-group {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    .input {
      flex: 1;

      &.address {
        flex: 2;
        min-width: 18rem;
      }
    }
  }

  .question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.75rem;
    position: relative;

    &_title {
      color: var(--blue-dark);
      font-size: 1rem;
      line-height: 1.17;
    }

    &_option {
      color: var(--blue-dark);
      font-size: 1rem;
      line-height: 1.1;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &_error {
      color: var(--red);
      font-size: 0.75rem;
      line-height: 1;
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
    }
  }

  .submit-btn {
    align-self: center;
  }

  .custom-answer-box {
    width: 18rem;
    height: 3rem;
  }
}
