.top-section {
  background: url("/bg-top.jpeg") no-repeat center center;
  background-size: cover;
  height: 769px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(69, 86, 119, 0.85);
  }

  &__inner-content {
    z-index: 1;
    border: 1px solid var(--yellow);
    border-radius: 7px;
    width: calc(100% - 104px);
    height: calc(100% - 96px);

    &__info {
      margin-top: 131px;
    }
  }

  &-title {
    font-size: 48px !important;
    color: var(--white) !important;
  }

  &-text {
    color: var(--white);
    text-align: center;
  }
}

.info-section {
  margin: 110px 16px;

  &-content {
    max-width: 600px;
    margin: 0 auto;
    
    &__title {
      
    }
    
    &__text {
      text-align: center;
    }
  }
}

.achievements-section {
  background: var(--blue-light) url("/bg-achievements.png") no-repeat center center;
  background-size: cover;
  height: 209px;
  display: flex;
  align-items: center;

  &-content {
    //height: 209px;
    width: 1016px;
    max-width: 100%;
    margin: 0 auto;

    & > div {
      align-self: stretch;
    }


    &__item {
      color: var(--white);
      text-align: center;
      padding: 6px 12px;

      &-quantity {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
      }

      &-description {
        margin-top: 1px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.17;
      }
    }

    &__line {
      border-right: 1px solid var(--yellow);
    }
  }
}

.gallery-section {
  margin-top: 110px;
}

.blog-section {
  margin-top: 134px;
}

.contacts-section {
  margin-top: 110px;
  background: var(--blue-light);

  &-content {
    padding: 77px 0;

    &__info {
      &-title {
        margin-top: 16px;
        font-size: 38px !important;
        color: var(--white) !important;
        text-align: left !important;
      }

      &-subtitle {
        margin-top: 19px;
        line-height: 1.17;
        color: var(--white);
      }
    }

    &__form {
      width: 493px;
      height: 512px;
      border-radius: 4px;
      background: var(--white);
    }
  }
}
