.top-section {
  background: url("/bg-top.jpeg") no-repeat center center;
  background-size: cover;
  height: 769px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(69, 86, 119, 0.85);
  }

  &__inner-content {
    z-index: 1;
    border: 1px solid var(--yellow);
    border-radius: 7px;
    width: calc(100% - 104px);
    height: calc(100% - 96px);

    &__info {
      margin-top: 131px;
      gap: 16px;
    }
  }

  &-title {
    font-size: 48px !important;
    color: var(--white) !important;
  }

  &-text {
    color: var(--white);
    text-align: center;
  }
}

.info-section {
  margin: 0 16px;
  padding-bottom: 110px;

  &-content {
    max-width: 600px;
    margin: 0 auto;
    gap: 16px;

    &__title {

    }

    &__text {
      text-align: center;
    }
  }
}

.achievements-section {
  background: var(--blue-light) url("/bg-achievements.png") no-repeat center center;
  background-size: cover;
  height: 209px;
  display: flex;
  align-items: center;
  margin-bottom: 110px;

  &-content {
    //height: 209px;
    width: 1016px;
    max-width: 100%;
    margin: 0 auto;

    & > div {
      align-self: stretch;
    }


    &__item {
      color: var(--white);
      text-align: center;
      padding: 6px 12px;

      &-quantity {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
      }

      &-description {
        margin-top: 1px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.17;
      }
    }

    &__line {
      border-right: 1px solid var(--yellow);
    }
  }
}

.gallery-section {
  padding-bottom: 110px;
  position: relative;
  overflow: hidden;

  .sip-vector-bottom-white {
    position: absolute;
    bottom: -338px;
    right: -93px;
    opacity: .2;
  }

  .images-carousel-wrapper {
    overflow: hidden;
    margin-top: 3rem;
  }

  .images-carousel {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: max-content;
    animation: endless-movements 20s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    &__item {
      cursor: pointer;

      &:nth-child(odd) {
        width: 11.5rem;
        height: 16.625rem;
      }

      &:nth-child(even) {
        width: 8.125rem;
        height: 11.75rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 0.25rem;
      }
    }
  }
}

.contacts-section {
  background: var(--blue-light);
  position: relative;
  overflow: hidden;

  .sip-vector-img {
  }

  .sip-vector-top-blue {
    position: absolute;
    right: -93px;
    top: -119px;
  }

  .sip-vector-bottom-blue {
    position: absolute;
    left: -143px;
    bottom: -145px;
  }

  &-content {
    padding: 77px 0;

    &__info {
      gap: 24px;

      &-title {
        margin-top: 16px;
        font-size: 38px !important;
        color: var(--white) !important;
        text-align: left !important;
      }

      &-subtitle {
        margin-top: 19px;
        line-height: 1.17;
        color: var(--white);
      }

      &-contact {
        gap: 16px;

        &:not(:last-child) {
          margin-bottom: 32px;
        }

        &__icon {

        }

        &__link {
          color: var(--white);
          font-size: 16px;
          line-height: 1.17;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        &__text {
          color: var(--white);
          font-size: 16px;
          line-height: 1.17;
          font-weight: 500;
        }
      }

      &-social {
        gap: 24px;

        &__icon {

        }
      }
    }

    &__form {
      width: 493px;
      height: 512px;
      border-radius: 4px;
      background: var(--white);
      z-index: 2;
    }
  }
}

@keyframes endless-movements {
  0% {
    transform: translateX(calc(-100% + 100vw - 1.5rem));
  }

  100% {
    transform: translateX(calc(-50% + 100vw - 0.75rem));
  }
}
