.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out 0s;

  &.visible {
    transform: translateY(0);
    transition-delay: 0.1s;
    transition-duration: 0.5s;
  }
}

.top-section {
  background: url("/bg-top.jpeg") no-repeat center center;
  background-size: cover;
  height: 769px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(69, 86, 119, 0.85);
  }

  &__inner-content {
    z-index: 1;
    border: 1px solid var(--yellow);
    border-radius: 7px;
    width: calc(100% - 104px);
    height: calc(100% - 96px);

    &__info {
      margin-top: 131px;
      gap: 16px;
    }
  }

  &-title {
    font-size: 48px !important;
    color: var(--white) !important;
  }

  &-text {
    color: var(--white);
    text-align: center;
  }

  @media (max-width: 1024px) {
    height: 1024px;
    margin-bottom: 72px;

    &__inner-content {
      width: calc(100% - 80px);
      height: calc(100% - 80px);

      &__info {
        margin-top: 217px;
      }
    }

    &-title {
      font-weight: 500 !important;
    }

    &-text {
      font-weight: 500;
    }
  }
}

.info-section {
  margin: 0 16px;
  padding-bottom: 110px;

  &-content {
    max-width: 600px;
    margin: 0 auto;
    gap: 16px;

    &__text {
      font-size: 18px !important;
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 72px;

    &-content {
      &__title {
        font-size: 38px !important;
      }
    }
  }
}

.achievements-section {
  background: var(--blue-light) url("/bg-achievements.png") no-repeat center center;
  background-size: cover;
  height: 209px;
  display: flex;
  align-items: center;
  margin-bottom: 110px;

  &-content {
    width: 1016px;
    max-width: 100%;
    margin: 0 auto;
    gap: 16px;

    & > div {
      align-self: stretch;
    }

    &__item {
      color: var(--white);
      text-align: center;
      padding: 6px 12px;

      &-quantity {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
      }

      &-description {
        margin-top: 1px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.17;
      }
    }

    &__line {
      border-right: 1px solid var(--yellow);
    }
  }

  @media (max-width: 1024px) {
    height: 159px;
    margin-bottom: 72px;

    &-content {
      width: 688px;
    }
  }
}

.gallery-section {
  padding-bottom: 110px;
  position: relative;
  overflow: hidden;

  &-title {
    font-size: 38px !important;
  }

  .sip-vector-bottom-white {
    position: absolute;
    bottom: -338px;
    right: -93px;
    opacity: .2;
  }

  .images-carousel-wrapper {
    overflow: hidden;
    margin-top: 3rem;
  }

  .images-carousel {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: max-content;
    animation: endless-movements 40s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    &__item {
      cursor: pointer;

      &:nth-child(odd) {
        width: 11.5rem;
        height: 16.625rem;
      }

      &:nth-child(even) {
        width: 8.125rem;
        height: 11.75rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 0.25rem;
      }
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 72px;

    .sip-vector-bottom-white {
      display: none;
    }
  }
}

.contacts-section {
  background: var(--blue-light);
  position: relative;
  overflow: hidden;

  .sip-vector-top-blue {
    position: absolute;
    top: -119px;
    right: -93px;
  }

  .sip-vector-bottom-blue {
    position: absolute;
    left: -143px;
    bottom: -145px;
  }

  &-content {
    padding-block: 77px;
    z-index: 1;
    position: relative;
    gap: 16px;

    &__info {
      gap: 24px;

      &-title {
        margin-top: 16px;
        font-size: 38px !important;
        color: var(--white) !important;
        text-align: left !important;
      }

      &-subtitle {
        margin-top: 19px;
        line-height: 1.17;
        color: var(--white);
      }

      &-contact {
        gap: 16px;

        &:not(:last-child) {
          margin-bottom: 32px;
        }

        &__icon {

        }

        &__link {
          color: var(--white);
          font-size: 16px;
          line-height: 1.17;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        &__text {
          color: var(--white);
          font-size: 16px;
          line-height: 1.17;
          font-weight: 500;
        }
      }

      &-social {
        gap: 24px;

        &__icon {

        }
      }
    }

    &__form {
      width: 493px;
      height: 512px;
      border-radius: 4px;
      background: var(--white);
      z-index: 2;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  @media (max-width: 1024px) {
    .sip-vector-top-blue {
      width: 391px;
      height: 290px;
      top: -63px;
      right: -112px;
    }

    .sip-vector-bottom-blue {
      width: 391px;
      height: 290px;
      left: -136px;
      bottom: -59px;
    }

    &-content {
      flex-direction: column;
      gap: 72px;
      padding: 72px 24px;

      &__info {
        gap: 48px;
        padding-left: 38px;

        &-title {
          margin-top: 0;
        }

        &-subtitle {
          margin-top: 16px;
          margin-bottom: 8px;
        }

        &-contact {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }

      &__form {
        width: 100%;
        padding: 2.5rem 5.563rem;
      }
    }
  }
}

@keyframes endless-movements {
  0% {
    transform: translateX(calc(-100% + 100vw - 1.5rem));
  }

  100% {
    transform: translateX(calc(-50% + 100vw - 0.75rem));
  }
}
