.textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--blue-dark);
  margin-bottom: 0.25rem;
}

.textarea {
  border-radius: 0.25rem;
  border: 1px solid var(--blue-light);
  height: 8.25rem;
  padding: 0.75rem;
  color: var(--blue-dark);
  resize: none;
  background-color: transparent;
  &:focus {
    outline-color: var(--blue-dark);
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.helper-text {
  font-size: 0.75rem;
  color: var(--blue-dark);
  line-height: 1;

  &.non-selectable {
    user-select: none;
  }

  &.error {
    color: var(--red);
  }
}
