.navbar {
  gap: 21px;
  padding: 0 4.313rem 0 1.125rem;

  &:not(.transparent) {
    background-color: var(--blue-dark);
    max-height: 7.25rem;
    overflow: hidden;
  }

  .logo {
    &-link {
      display: block;
    }

    &-img {

    }
  }

  .menu {
    gap: 24px;

    &-items {
      &__list {
        gap: 24px;

        &-item {
          &-link {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.17;
            color: var(--white);
            transition: color .3s;

            &:hover {
              color: var(--yellow);
            }
          }
        }
      }
    }

    &-btn-content {

    }

    @media (max-width: 1024px) {
      display: none;
    }
  }
}
