body {
  background: var(--body-bg-color);
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

.flex-c {
  display: flex;
  align-items: center;
}

.flex-spb {
  display: flex;
  justify-content: space-between;
}

.flex-spb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-spar-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-spb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
