.page-title,
.section-title {
  line-height: 1.17;
  font-weight: 700;
  color: var(--primary-color);
}

.page-title {
  font-size: 38px;
}

.section-title {
  font-size: 30px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

.flex-sp-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
