.contact-us {
  margin: 0 auto;
  padding: 5.875rem 2.5rem 0;
  max-width: 76.5rem;
  min-height: calc(100vh - 12.25rem);

  .content {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .form {
    width: 31rem;
  }

  .references {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &_title {
      font-size: 1.125rem;
      line-height: 1;
      font-weight: 700;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > * {
      font-size: 1rem;
      line-height: 1.17;
      color: var(--blue-dark);
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_links {
      display: flex;
      gap: 1rem;
    }

    &_icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media (max-width: 1024px) {
    padding-top: 4.5rem;
    min-height: calc(100vh - 179px);

    .content {
      gap: 1.5rem;
    }

    .form {
      width: 26.25rem;
    }
  }

  @media (max-width: 768px) {
    padding: 4.5rem 1rem;

    .content {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 3.5rem;
    }

    .form {
      width: 100%
    }
  }
}
