.footer {
  // dark by default
  $this: &;
  padding: 1.5rem 4.313rem 1.5rem 1.125rem;
  background: var(--blue-dark);

  &-text {
    font-size: 19px;
    line-height: 1;
    color: var(--white);
  }

  &.light {
    background: transparent;
    text-align: center;
    padding: 1.5rem 1.125rem;

    #{$this}-text {
      color: rgba(0, 0, 0, 0.8);
      flex: 1;
    }
  }

  &.with-social {
    text-align: left;
    gap: 24px;

    #{$this}-social {
      gap: 24px;
    }
  }
}
