.footer {
  // dark by default
  $this: &;
  padding: 1.5rem 4.313rem 1.5rem 1.125rem;
  background: var(--blue-dark);

  &-text {
    line-height: 1.17;
    color: var(--white);
  }

  &.light {
    background: transparent;
    text-align: center;
    padding: 1.5rem 1.125rem;

    #{$this}-text {
      color: rgba(0, 0, 0, 0.8);
      flex: 1;
    }
  }

  &.with-social {
    text-align: left;
    gap: 24px;

    #{$this}-social {
      gap: 24px;
    }
  }

  @media (max-width: 767px) {
    &-text {
      font-size: 15px;
    }

    &.with-social {
      text-align: center;
      flex-direction: column;
      padding: 1.5rem 1.125rem;

      #{$this}-social {
        gap: 16px;
      }
    }
  }
}
