.button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  width: 119px;
  height: 51px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  background: var(--blue-dark);
  color: var(--white);
  transition: all .3s;
  border-radius: 3px;

  &:hover {
    background: var(--yellow);
  }

  &.menu-btn {
    width: 106px;
    background: var(--white);
    color: var(--blue-dark);

    &:hover {
      background: var(--yellow);
      color: var(--white);
    }
  }
}
